@tailwind base;
@tailwind components;
@tailwind utilities;

.shadowText {
    text-shadow: 1px 1px 0px rgba(61,64,91,0.5);
}

@font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
  }
  
  .flag {
    font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
    'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  .framerLogo {
    overflow: visible;
    stroke: #fff;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  